ul .list-group-item {
  display: inline-flex;
  width: auto;
  vertical-align: top;
  flex-wrap: wrap;
}
ul {
  padding-bottom: 20px;
}
/* .facebook-video-id {
position:absolute;
z-index:-1;
top:0;
left:0;
width:80%;
height:80%;
} */

.facebook-video-id{
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.jumbotron {
  margin: 10px;
  padding: 30px;
  width: 800px;
  position: relative;
  left: 300px;
  border-radius: 2px;
  text-align:center;
}

.logo-img {
  height: 70px;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
}
